body {
  background-color: #fffcf2;
}
.header {
  background-color: #ccc5b9;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}
.topnav {
  overflow: hidden;
  background-color: #e0afa0;
  position: sticky;
  top: 0;
}

.topnav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bold;
}
